In [1]:
# import dependencies
import os
import openai
import pandas as pd

In [2]:
# Retrieve OpenAI API key from os environments
openai.api_key = os.getenv("OPENAI_API_KEY")

### Tabular Data Setup

In [3]:
# Import previously saved Kaggle sample sales data (https://www.kaggle.com/datasets/kyanyoga/sample-sales-data )
df= pd.read_csv('data/sales_data_sample.csv')

# View imported data
df.head()

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,SALES,ORDERDATE,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,PHONE,ADDRESSLINE1,CITY,STATE,POSTALCODE,COUNTRY,CONTACTLASTNAME,CONTACTFIRSTNAME
0,10107,30,95.70,2871.00,2/24/2003 0:00,1,2,2003,Motorcycles,2125557818,897 Long Airport Avenue,NYC,NY,10022,USA,Yu,Kwai
1,10121,34,81.35,2765.90,5/7/2003 0:00,2,5,2003,Motorcycles,26.47.1555,59 rue de l'Abbaye,Reims,NaN,51100,France,Henriot,Paul
2,10134,41,94.74,3884.34,7/1/2003 0:00,3,7,2003,Motorcycles,+33 1 46 62 7555,27 rue du Colonel Pierre Avia,Paris,NaN,75508,France,Da Cunha,Daniel
3,10145,45,83.26,3746.70,8/25/2003 0:00,3,8,2003,Motorcycles,6265557265,78934 Hillside Dr.,Pasadena,CA,90003,USA,Young,Julie
4,10159,49,100.00,5205.27,10/10/2003 0:00,4,10,2003,Motorcycles,6505551386,7734 Strong St.,San Francisco,CA,NaN,USA,Brown,Julie

### Create a temporary DB in RAM

In [4]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [5]:
# Create sqlite DB
temp_db = create_engine("sqlite:///:memory:", echo=True) # echo will show output

In [7]:
# Push DataFrame to Temp DB
data = df.to_sql(name='Sales',con=temp_db)

2023-03-03 15:39:28,406 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-03 15:39:28,428 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2023-03-03 15:39:28,447 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-03 15:39:28,452 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")
2023-03-03 15:39:28,453 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-03 15:39:28,455 INFO sqlalchemy.engine.Engine ROLLBACK
2023-03-03 15:39:28,457 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-03 15:39:28,459 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT
)


2023-03-03 15:39:28,461 INFO sqlalchemy.engine.Engine [no key 0.00149s] ()
2023-03-03 15:39:28,462 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")
2023-03-03 15:39:28,464 INFO sqlalchemy.engine.Engine [no key 0.00108s] ()
2023-03-03 15:39:28,465 INFO sqlalchemy.engine.Engine COMMIT
2023-03-03 15:39:28,471 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-03 15:39:28,528 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "SALES", "ORDERDATE", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "PHONE", "ADDRESSLINE1", "CITY", "STATE", "POSTALCODE", "COUNTRY", "CONTACTLASTNAME", "CONTACTFIRSTNAME") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-03-03 15:39:28,531 INFO sqlalchemy.engine.Engine [generated in 0.04638s] [(0, 10107, 30, 95.7, 2871.0, '2/24/2003 0:00', 1, 2, 2003, 'Motorcycles', '2125557818', '897 Long Airport Avenue', 'NYC', 'NY', '10022', 'USA', 'Yu', 'Kwai'), (1, 10121, 34, 81.35, 2765.9, '5/7/2003 0:00', 2, 5, 2003, 'Motorcycles', '26.47.1555', "59 rue de l'Abbaye", 'Reims', None, '51100', 'France', 'Henriot', 'Paul'), (2, 10134, 41, 94.74, 3884.34, '7/1/2003 0:00', 3, 7, 2003, 'Motorcycles', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', 'Paris', None, '75508', 'France', 'Da Cunha', 'Daniel'), (3, 10145, 45, 83.26, 3746.7, '8/25/2003 0:00', 3, 8, 2003, 'Motorcycles', '6265557265', '78934 Hillside Dr.', 'Pasadena', 'CA', '90003', 'USA', 'Young', 'Julie'), (4, 10159, 49, 100.0, 5205.27, '10/10/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505551386', '7734 Strong St.', 'San Francisco', 'CA', None, 'USA', 'Brown', 'Julie'), (5, 10168, 36, 96.66, 3479.76, '10/28/2003 0:00', 4, 10, 2003, 'Motorcycles', '6505556809', '9408 Furth Circle', 'Burlingame', 'CA', '94217', 'USA', 'Hirano', 'Juri'), (6, 10180, 29, 86.13, 2497.77, '11/11/2003 0:00', 4, 11, 2003, 'Motorcycles', '20.16.1555', '184, chausse de Tournai', 'Lille', None, '59000', 'France', 'Rance', 'Martine'), (7, 10188, 48, 100.0, 5512.32, '11/18/2003 0:00', 4, 11, 2003, 'Motorcycles', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', 'Bergen', None, 'N 5804', 'Norway', 'Oeztan', 'Veysel')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 2116.16, '3/28/2005 0:00', 1, 3, 2005, 'Ships', '61.77.6555', '1 rue Alsace-Lorraine', 'Toulouse', None, '31000', 'France', 'Roulet', 'Annette'), (2822, 10414, 47, 65.52, 3079.44, '5/6/2005 0:00', 2, 5, 2005, 'Ships', '6175559555', '8616 Spinnaker Dr.', 'Boston', 'MA', '51003', 'USA', 'Yoshido', 'Juri')]
2023-03-03 15:39:28,556 INFO sqlalchemy.engine.Engine COMMIT
2023-03-03 15:39:28,559 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-03 15:39:28,560 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-03-03 15:39:28,560 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-03 15:39:28,562 INFO sqlalchemy.engine.Engine ROLLBACK

In [9]:
# Test db wwith a SQL query
with temp_db.connect() as conn:
    result = conn.execute(text("SELECT SUM(SALES) FROM Sales"))

2023-03-03 15:41:40,873 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-03 15:41:40,875 INFO sqlalchemy.engine.Engine SELECT SUM(SALES) FROM Sales
2023-03-03 15:41:40,877 INFO sqlalchemy.engine.Engine [generated in 0.00383s] ()
2023-03-03 15:41:40,879 INFO sqlalchemy.engine.Engine ROLLBACK

In [10]:
result.all()

[(10032628.85000001,)]